div{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(9, 300px);
    grid-template-areas:
    "a a a"
    "a a a"
    "a a a"
    "b b c"
    "b b d"
    "e f g"
    "h h i";
    gap: 10px;
}
div{
    background-color: green;
}
section:nth-child(1){
    grid-area:h;
}
section:nth-child(2){
    grid-area:c;
}
section:nth-child(3){
    grid-area:a;
}
section:nth-child(4){
    grid-area: e;
}
section:nth-child(5){
    grid-area:g;
}
section:nth-child(6){
    grid-area:b;
}
section:nth-child(7){
    grid-area:d;
}
section:nth-child(8){
    grid-area:i;
}
section:nth-child(9){
    grid-area:f;
}