*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #061C1F;
    
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid white; */
}
.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text{
    width: 50%;
    margin-bottom: 4em;

}
.gallery .text p{
    font-weight: 600;
    color: #30A5B5;
    font-size: 4em;
    margin-top: 45px;
    border-bottom: 2px solid #30A5B5;
}
span{
    font-weight: 200;
}
.line{
    border-bottom: 2px solid #30A5B5;
    width: 1040px;
    padding-top: 16px;
    margin-bottom: 4em;
    text-align: center;
    
}
.gallery .image-gallery{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;


    
}
.gallery .image-gallery .col{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.gallery .image-gallery .col img{
    width: 100%;
    padding-bottom: 20px;
    transition:transform 1s ease;
    opacity:0.7;
}
.gallery .image-gallery .col img:hover{
    transform: scale(1.1);
    opacity: 1;
    transform: 1s ease;
}
/*------------------RESPONSIVE DESIGN------------------*/
@media screen and (max-width: 880px) {

    .gallery .image-gallery {
        flex-direction: column;

    }

    .gallery .image-gallery .col {
        width: 100%;
        flex-direction: row;
        gap: 20px;
        padding: 0 20px
    }

    .text {
        width: 70%;
    }
    
    .gallery .text p {
        font-size: 2.5em;
    }
    
}

@media screen and (max-width: 500px) {

    .gallery .image-gallery {
        flex-direction: column;

    }

    .gallery .image-gallery .col {
        width: 100%;
        flex-direction: column;
        gap: 1px;
    }

    .text {
        width: 80%;
    }
    
    .gallery .text p {
        font-size: 1.5em;
    }
    
}